/* .App {
  margin-top: 50px;
} */

/* loginButton*/
.loginButton {
  margin: auto;
  max-width: fit-content;
}
.loginContainer {
  background-color: whitesmoke;
  min-height: 100vh;
  min-width: 100%;
  margin-top: 0;
  position: fixed;
}
.loginCard {
  text-align: center;
  width: 30vh;
  padding-top: 8vh;
  padding-bottom: 10vh;
  border: 2px solid gray;
  border-radius: 50px;
  margin: auto;
  background-color: white;
  margin-top: 25vh;
}
/* logoutButton */
.logoutButton {
  float: right;
  margin: 10px;
}

/* border styles */
.borderNone {
  border: none;
}
.borderRight {
  border: none;
  border-right: 1px dotted;
}
.borderBottom {
  border: none;
  border-bottom: 1px dotted;
}
.borderBottomRight {
  border: none;
  border-bottom: 1px dotted;
  border-right: 1px dotted;
}

/* Custom Navbar  */
.closed {
  position: fixed;
  border-bottom: 1px solid black;
  min-width: 100%;
  z-index: 2;
  background-color: rgb(152, 160, 169);
}
.open {
  position: fixed;
  border-bottom: 1px solid black;
  min-width: 100%;
  z-index: 2;
  background-color: rgb(152, 160, 169);
}
/* dashBoard */
.submitButton {
  margin-left: 40%;
}
.dashBoardFolder {
  margin-left: 5vh;
}
/* sideNav */
.sideNav {
  height: 100%;
  width: 20%;
  position: fixed;
  background: rgb(41, 171, 226);
  background: linear-gradient(90deg, rgba(41, 171, 226, 1) 0%, rgba(127, 201, 237, 0.7) 100%);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}
.sideNavSmall {
  height: 100vh;
  width: 80%;
  margin-top: -70px;
  padding-top: 70px;
  position: fixed;
  background: rgb(41, 171, 226);
  background: linear-gradient(90deg, rgba(41, 171, 226, 1) 0%, rgba(127, 201, 237, 0.7) 100%);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}
.sideNavClosed {
  position: fixed;
  z-index: 2;
}
.scrollbar::-webkit-scrollbar {
  width: 0.5em;
}
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/* thought */
.activeTodo:focus {
  min-height: 130px;
  overflow: scroll;
}
.activeTodo {
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}
